.registration_form {
    margin: auto;
    background-color: #f5f5f5;
    border: #e3e3e3;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 40%;
    height: 300px;
}

.modal {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    color: #333;
    font-family: sans-serif;
    line-height: 1.5;
    max-width: 50%;
    padding: 1rem 2rem;
    position: absolute;
    left: 35%;
    right: 35%;
    width: 700px;
    top: 40%;
    padding: 50px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .modal {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);  
    }
    .warning {
      display: none;
    }
}

body, html {
    height: 100%;
}

.bg_photo {
    background-image: url("photos/black_beach.jpg");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
  